<head>
  <title>My blogs</title>
</head>

{% extends 'portfolio/base.html' %}

{% block content %}
<h1 class="text-center">All blogs are here
    <small class="text-muted">here, here, here...</small>
</h1>

<div class="text-left">
    <br>
    <h2>There were written {{ blogs.count }} blog{{ blogs.count|pluralize}}: </h2> 
    <br>
    {% for blog in blogs %}

    <a href="{% url 'blog:detail' blog.id %}"><h3 class="text-primary"> {{ blog.title }} </h3></a>
    <small> {{ blog.date }} </small>
    <p class="text-info"> {{ blog.description|striptags|truncatechars:60 }} </p>

    {% endfor %}
    <br>
</div>
{% endblock %}